.content {
  width:100%; max-width:1024px; padding: 1px 50px; margin:0 auto; box-sizing: border-box;
}

/*.tooltips {
  background:#c0ffee; padding:20px 25px; font-size:14px; line-height:16px;
}*/
/*
@media screen and (max-width: 1324px){
  .content .map {
    width:100%; height:auto!important;

    &_inner {
      position:relative!important; left:0!important; transform: translate(0)!important; width:100% !important;

      img {width:100%;}
    }
  }
}
*/
