.table {
  margin: 9px 0 53px; }
  .table__title_area {
    font-size: 26px;
    line-height: 40px;
    vertical-align: middle;
    color: #434053;
    margin-bottom: 39px; }
    .table__title_area strong {
      font-weight: bold;
      border-bottom: 1px solid #d8d8d8; }
  .table__body_area table {
    width: 100%;
    border-spacing: 0; }
    .table__body_area table tr th {
      padding: 0 16px;
      background-color: #d8d8d8;
      font-size: 14px;
      line-height: 16px;
      height: 44px;
      text-align: center; }
      .table__body_area table tr th:nth-child(2) {
        text-align: left; }
      .table__body_area table tr th sub {
        font-weight: normal; }
    .table__body_area table tr td {
      padding: 10px 16px;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #d8d8d8; }
      .table__body_area table tr td button {
        position: relative;
        font-weight: bold; }
        .table__body_area table tr td button:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: -20px;
          margin-top: -6px;
          width: 15px;
          height: 15px;
          border-radius: 50%; }
      .table__body_area table tr td i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        font-style: normal; }
        .table__body_area table tr td i .avatar {
          width: 60px;
          height: 60px; }
      .table__body_area table tr td:nth-child(2) {
        text-align: left; }
    .table__body_area table tr:hover td {
      background: rgba(216, 216, 216, 0.6);
      /* background:#d8d8d8; opacity: 0.6;*/ }
    .table__body_area table tr.connected td span {
      color: #2196F3; }
    .table__body_area table tr.delay td span {
      color: #FFE082; }
    .table__body_area table tr.delayed td span {
      color: #FF5722; }
    .table__body_area table tr.disconnected td button {
      color: #adadad; }
    .table__body_area table tr.disconnected td span {
      color: #adadad;
      content: '-'; }
    .table__body_area table tr.invalidate td button:after {
      background-color: #ffa500; }
    .table__body_area table tr.invalidate td span {
      color: #56b418; }
    .table__body_area table tr.warning td button {
      color: #adadad; }
      .table__body_area table tr.warning td button:after {
        background: url("../static/images/table__bpState--warning.png") 0 0 no-repeat; }
    .table__body_area table tr.warning td span {
      color: #434053; }
  .table__body_caption {
    margin-top: 20px;
    margin-bottom: 40px; }
    .table__body_caption ul {
      float: right; }
      .table__body_caption ul li {
        float: left;
        position: relative;
        padding-left: 20px;
        margin-left: 20px;
        font-size: 13px;
        line-height: 20px;
        height: 20px; }
        .table__body_caption ul li:before {
          content: '';
          position: absolute;
          left: 0;
          display: block;
          width: 15px;
          height: 15px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%; }
        .table__body_caption ul li.connected:before {
          background: #2196F3; }
        .table__body_caption ul li.delay:before {
          background: #FFE082; }
        .table__body_caption ul li.delayed:before {
          background: #FF5722; }
        .table__body_caption ul li.disconnected:before {
          background: #adadad; }
        .table__body_caption ul li span {
          font-weight: bold; }
      .table__body_caption ul:after {
        content: '';
        display: block;
        clear: both; }
    .table__body_caption:after {
      content: '';
      display: block;
      clear: both; }

.avatarIcon {
  background-color: #ddd;
  color: #fff;
  width: 40px;
  height: 40px; }

/*.tooltips {
  background:#c0ffee; padding:20px 25px; font-size:14px; line-height:16px;
}*/
/*
@media screen and (max-width: 924px){
  .table__body_area {
    width:100%; overflow-x:auto;
    table {width:924px !important;}
  }
}
*/
